<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view-product-file</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body class="category-custom">

    <!-- ===================================== -->
    <%- include('./header.ejs')%>
    <!-- ===================================== -->

    <!-- ===================================== -->
    <%- include('./left.ejs')%>
    <!-- ===================================== -->
    <div class="col-md-9">
    <div class="container">
            <% if(productdata.length>0){ %>

<table id="brandTable">
    <thead>
        <tr>
            <th>product Image</th>
            <th>product name</th>
            <th>product type</th>
            <th>product price</th>
            <th>description</th>
            <th>highlight</th>

            <th>Actions</th>
           
        </tr>
    </thead>
    <tbody>
        <%for(var i=0; i<productdata.length;i++){%>
        <tr>
            <td><img src="/<%= productdata[i].filename %>" width="100px" height="100px">
                <%= productdata[i].filename %></td>
            <td><%= productdata[i].productname %></td>
            <td><%= productdata[i].producttype %></td>
            <td><%= productdata[i].productprice %></td>
            <td><%= productdata[i].description %></td>
            <td><%= productdata[i].highlights %></td>

            <td>
                <a href="/delete4/<%= productdata[i]._id %>"><button class="button1">Delete</button></a>&nbsp;
                <a href="/edit4/<%= productdata[i]._id %>" ><button class="button2">Edit</button></a>

            </td>
         
        </tr>
        <% } %>
    </tbody>
</table>

<% } else { %>
    no record found

    <%} %>
    </div>
</div>
</div>



    <!-- ===================================== -->
    <%- include('./footer.ejs')%>
    <!-- ===================================== -->
    
</body>
</html>