<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <!-- =================TITLE============= -->
 <title>Furniture Store</title>
 <!-- =================TITLE============= -->
 <style>
.product-view img{
   border-radius: 20px;
}

.product-view h3{
  color: brown;
}

.product-view h5{
  /* color: burlywood; */
  color: none;
}


.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
}
 </style>
</head>
<body>
  <!-- ==================header file================= -->
        <%- include('./common/header.ejs')%>
  <!-- ==================header file================= -->
</div>
</div>

  <div class="container mt-5 product-view">
    <div class="row">
        <div class="col-md-3 mt-5 ">
          <div class="img-magnifier-container">
            <img id="myimage" src="/<%= productdata.filename %>" height="300px" width="300px">
          </div>
            <div class="d-flex justify-content-end align-items-center">
            <button class="mt-5 ms-5 btn btn-success w-50 " id="submit_button">Buy Now</button>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-8">
            <h3 class="mt-5">product</h3>
            <h5 class="fw-bold"><%= productdata.productname %></h5>
            <h3 class="mt-5">product type</h3>
            <h5  class="fw-bold"><%= productdata.producttype %></h5>
            <h3 class="mt-5">price</h3>
            <h5  class="fw-bold"><strong>Rs. <%= productdata.productprice %></strong></h5>
            <h3 class="mt-5">Product Description</h3>
            <p class="fw-bold"><%= productdata.description %></p>
            <h3 class="mt-5">Product highlights</h3>
            <p class="fw-bold"><%= productdata.highlights %></p>
        </div>
    </div>
  </div>

    
<div class="container-fluid">
    <!-- ===================footer================== -->
    <%- include('./common/footer.ejs')%>
    <!-- ===================footer================== -->
    </div>
    


    <script>

      // magnifier from browser
      function magnify(imgID, zoom) {
  var img, glass, w, h, bw;
  img = document.getElementById(imgID);
  /*create magnifier glass:*/
  glass = document.createElement("DIV");
  glass.setAttribute("class", "img-magnifier-glass");
  /*insert magnifier glass:*/
  img.parentElement.insertBefore(glass, img);
  /*set background properties for the magnifier glass:*/
  glass.style.backgroundImage = "url('" + img.src + "')";
  glass.style.backgroundRepeat = "no-repeat";
  glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
  bw = 3;
  w = glass.offsetWidth / 2;
  h = glass.offsetHeight / 2;
  /*execute a function when someone moves the magnifier glass over the image:*/
  glass.addEventListener("mousemove", moveMagnifier);
  img.addEventListener("mousemove", moveMagnifier);
  /*and also for touch screens:*/
  glass.addEventListener("touchmove", moveMagnifier);
  img.addEventListener("touchmove", moveMagnifier);
  function moveMagnifier(e) {
    var pos, x, y;
    /*prevent any other actions that may occur when moving over the image*/
    e.preventDefault();
    /*get the cursor's x and y positions:*/
    pos = getCursorPos(e);
    x = pos.x;
    y = pos.y;
    /*prevent the magnifier glass from being positioned outside the image:*/
    if (x > img.width - (w / zoom)) {x = img.width - (w / zoom);}
    if (x < w / zoom) {x = w / zoom;}
    if (y > img.height - (h / zoom)) {y = img.height - (h / zoom);}
    if (y < h / zoom) {y = h / zoom;}
    /*set the position of the magnifier glass:*/
    glass.style.left = (x - w) + "px";
    glass.style.top = (y - h) + "px";
    /*display what the magnifier glass "sees":*/
    glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
  }
  function getCursorPos(e) {
    var a, x = 0, y = 0;
    e = e || window.event;
    /*get the x and y positions of the image:*/
    a = img.getBoundingClientRect();
    /*calculate the cursor's x and y coordinates, relative to the image:*/
    x = e.pageX - a.left;
    y = e.pageY - a.top;
    /*consider any page scrolling:*/
    x = x - window.pageXOffset;
    y = y - window.pageYOffset;
    return {x : x, y : y};
  }
}

/* Initiate Magnify Function
with the id of the image, and the strength of the magnifier glass:*/
magnify("myimage", 3);
    </script>
    
    </body>
    </html>






